<section
  class="content__modal content__modal--chat"
  data-content-tab="chat"
  aria-hidden="<%- hidden %>">
  <h1 class="title title--h1">CodeChat</h1>
  <ul></ul>
  <form id="test">
    <input class="control__input" type="text" autocomplete="off" />
    <button><span>Send</span></button>
  </form>
</section>
