<section
  class="content__modal content__modal--chat"
  data-content-tab="chat"
  aria-hidden="false">
  <h3 class="title title--h3">CodeChat</h3>
  <ul class="chat"></ul>
  <form id="test">
    <input class="control__input" type="text" autocomplete="off" />
    <button><span>Send</span></button>
  </form>
</section>
