<section
  class="content__modal content__modal--code"
  data-content-tab="code"
  aria-hidden="false">
  <!-- prettier-ignore -->
  <%- include('../components/editor', {language: 'html'}) %> 
  <%- include('../components/editor', {language: 'css'}) %> 
  <%- include('../components/editor', {language: 'js'}) %>
  <section class="editor__control">
    <label class="control control--inline" for="style">
      <span class="control__label"> Editor stijl </span>
      <select
        name="style"
        data-editor-style
        class="control__input control__input--small">
        <option value="default">Standaard</option>
      </select>
    </label>
    <button class="cta cta--theme" data-code-run>Run</button>
  </section>
  <iframe src="javascript:void(0);" data-iframe></iframe>
</section>
