<section class="content__room-error">
  <h1 class="title title--h1">Geen room gevonden</h1>
  <p>Momenteel bevind je je niet in een room.</p>
  <p>Vul de room naam van een room in en klik op join room.</p>
  <form>
    <label class="control"
      >Room:
      <input
        autocomplete="surname"
        class="control__input"
        type="text"
        name="room"
        placeholder="Room" />
    </label>
    <button class="cta cta--theme">Eens kijken wie er aanwezig is</button>
  </form>
</section>
