<section class="content__modal content__modal--users" data-content-tab="users">
  <h3 class="title title--h3">Actieve gebruikers</h3>
  <ul class="active-users" data-users>
    <li class="connection">Stefan</li>
    <li class="disconnection">Stefan</li>
    <li class="tunnel">Stefan</li>
  </ul>
</section>
