.login {
  margin: auto;
  background-color: rgba(var(--dark-color-rgb), 0.75);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  width: 100%;
  max-width: 380px;
  /* width: max(50vmin, 300px); */
  /* aspect-ratio: 6/5; */
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
  padding: calc(var(--base-offset) * 2);
  gap: 10px;
}

.login a {
  color: var(--prim-color);
}

.login form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  margin-top: 8px;
}

.login form button {
  width: 100%;
}

.login p {
  font-family: var(--body-font);
  color: var(--white-color);
  text-align: center;
}
