.control {
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: var(--white-color);
  font-family: var(--body-font);
}

.control--inline {
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.control__input {
  font-family: var(--body-font);
  border: 1px solid var(--prim-color);
  border-radius: 4px;
  padding: 10px;
  font-size: 1em;
}

.control__input--small {
  padding: 6px 12px;
  width: 200px;
}
