.cta {
  padding: 8px 12px;
  border: none;
  background-color: transparent;
  width: fit-content;
  border-radius: 4px;
  font-family: var(--body-font);
  font-size: 1em;
  cursor: pointer;
}

.cta--theme {
  color: white;
  background-color: var(--prim-color);
}

.cta--theme:hover {
  color: white;
  background-color: var(--prim-hover-color);
}

.cta--theme:active {
  color: var(--white-color);
  background-color: var(--prim-active-color);
}

.cta--sec {
  color: white;
  background-color: var(--sec-color);
}
.cta--sec:hover {
  color: white;
  background-color: var(--sec-hover-color);
}
.cta--sec:active {
  color: white;
  background-color: var(--sec-active-color);
}
