@import "./styles/screen.css";

.editor-container {
  height: 100%;
  /* background: rgba(255, 255, 255, 0.1); */
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.title {
  font-weight: bold;
  color: var(--prim-color);
  font-family: var(--h-font);
  /* margin-right: auto; */
}

h1 {
  font-size: 2.5rem;
}

.logo {
  height: fit-content;
}

.logo--small {
  width: 50px;
}

.logo--big {
  width: 120px;
}

::-webkit-scrollbar {
  /* background: transparent; */
}

.content {
  height: calc(100dvh - 62px);
}

.page:has(.content__room-error) .sidebar {
  display: none;
}

.content__room-error {
  color: var(--white-color);
  display: flex;
  flex-direction: column;
  max-width: 500px;
  padding: var(--base-offset);
}

.content__room-error form {
  margin-top: var(--base-offset);
  display: flex;
  flex-direction: column;
  gap: var(--base-offset);
  max-width: 300px;
}

.content__modal--chat {
  height: calc(100dvh - 62px);
}

.content__modal--chat form {
  padding: 0;
  width: 100%;
  display: flex;
}

.content__modal--chat form input[type="text"] {
  width: 100%;
  margin: 0;
  padding: 1rem;
  border: none;
  flex-grow: 2;
  background: rgb(239, 238, 238);
  box-shadow: inset 0.2rem 0.2rem 0.3rem 0 rgba(209, 205, 199, 0.5);
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
  border: 0;
  opacity: 80%;
  outline: none;
}

.content__modal--chat form > button {
  padding: 0 0.6rem 0 0.4rem;
  /* width: 2rem; */
  background: rgb(239, 238, 238);
  /* box-shadow: inset -0.2rem 0.2rem 0.3rem 0 rgba(209, 205, 199, 0.5); */
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  border: 0;
  /* opacity: 80%; */
  transition: 0.2s;
}

/* section form > button span {
  display: none;
} */

/* section form > button::after {
  content: "⇒";
} */

/* section form > button:hover {
  padding-left: 1rem;
} */

.content__modal--chat form > button:active {
  /* padding-left: 1rem; */
  color: red;
}

/* Content */
.content {
  display: grid;
  grid-template-columns: 1fr;
}

.content--clean {
  grid-template-columns: 1fr;
}

.content__modal--chat {
  display: none;
}

.content__modal--users {
  display: none;
}

.content--chat .content__modal--chat {
  display: flex;
}

.content--chat {
  grid-template-columns: minmax(min-content, 280px) 1fr;
}
.content--users {
  grid-template-columns: minmax(min-content, 280px) 1fr;
}

.content--users .content__modal--users {
  display: flex;
}

.content:has(.content__room-error) {
  grid-template-columns: 1fr;
}

.content__modal {
  padding: var(--base-offset);
}
.content__modal[aria-hidden="true"] {
  display: none;
}

/* Code */
.code {
  width: 100%;
  height: 100%;
}
.cm-editor {
  width: 100%;
  height: 100%;
  /* background-color: var(--white-color); */
}

.cm-scroller {
  font-family: var(--code-font) !important;
  overflow-x: visible !important;
}

/* Editor */
.editor {
  display: inline-flex;
  height: 100%;
}

.editor--default .cm-editor {
  background-color: var(--white-color);
}

/* Lobbyrooms */

.lobbyrooms {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: calc(var(--base-offset) / 2);
  padding: calc(var(--base-offset));
}

.lobbyroom {
  padding: 0.5rem calc(var(--base-offset) * 2);
  width: unset;
}

.lobbyroom--active {
  background-color: var(--dark-sec-color);
}

/* Reset */
.cm-ySelectionInfo {
  font-family: inherit !important;
}

/* Active user */
.active-users li {
  display: flex;
  gap: 5px;
  align-items: center;
  color: var(--white-color);
}

.active-users li::before {
  content: "";
  display: inline-block;
  height: 5px;
  width: 5px;
  border-radius: 50%;
}

.active-users li.connection--connected::before {
  background-color: green;
}
.active-users li.disconnection::before {
  background-color: red;
}
.active-users li.tunnel::before {
  background-color: orange;
}

.connection__room {
  color: grey;
  margin-left: auto;
}
