<%- include ("../partials/head") %>
<body>
  <main class="login">
    <%- include ("../components/logo", {size:"big"}) %>
    <h1 class="title title--h1">CodeChat</h1>
    <form action="/login" method="post">
      <label class="control"
        >Gebruikersnaam:
        <input
          autocomplete="username"
          class="control__input"
          type="text"
          name="username"
          placeholder="Gebruikersnaam" />
      </label>
      <label class="control"
        >Wachtwoord:
        <input
          autocomplete="current-password"
          class="control__input"
          type="password"
          name="password"
          placeholder="Wachtwoord" />
      </label>
      <button class="cta cta--theme">Log in</button>
      <a class="anchor" href="#">Nog geen account? Registreer</a>
    </form>
  </main>
  <!-- <%- include('../partials/footer') %> -->
</body>
