.header {
  display: flex;
  background-color: rgba(var(--dark-color-rgb), 0.75);
  /* background-color: #282a3a; */
  padding: calc(var(--base-offset) / 2) var(--base-offset);
  align-items: center;
  gap: calc(var(--base-offset) / 2);
  height: 62px;
}

.header h2 {
  margin-right: auto;
}

.header__avatar {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--sec-color);
}

.header__profile {
  font-family: var(--body-font);
  color: var(--white-color);
}

.header__socket {
  display: none;
}
